body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(49, 108, 243);
}

body{
    display: flex;
    justify-content: center;
}

.card_content{
    display: flex;
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-self: center;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se establece la sombra */
}

.card_L{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.CL_imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}


.CL_imagen img {
    transition: filter 0.3s ease;
}

.CL_imagen img:hover {
    -webkit-filter: drop-shadow(-5px -5px 10px rgb(255, 25, 25));
    filter: drop-shadow(-5px -5px 10px rgb(0, 140, 255));
}

.card_R{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  width: auto;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


 /* Estilos para los iconos */
 .input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container input {
    padding-left: 30px; /* Ajuste el espacio para el icono */
}

.symbol-input100 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #999; /* Color del icono */
}