:root {
    --primary-color: #ffffff; /* Color primario */
    --secondary-color: #333333; /* Color secundario */
    --accent-color: #060606; /* Color de acento */
    --background-color: rgba(0, 0, 0, 0.483); /* Color de fondo */
    --input-background: rgba(113, 113, 113, 0.978); /* Color de fondo del input */
    --border-color-light: rgba(255, 255, 255, 0.681); /* Color de borde claro */
    --border-color-medium: rgb(89, 89, 89); /* Color de borde medio */
    --border-color-dark: rgb(0, 0, 0); /* Color de borde oscuro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/img/bg2.jpg) no-repeat;
}

.wrapper {
    width: auto;
    background-color: var(--background-color);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background-color: var(--input-background);
    border-radius: 40px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid var(--border-color-light);
    border-radius: 40px;
    font-size: 16px;
    color:var(--primary-color);
    padding: 20px 25px;
}

.input-box input:hover {
    border-color: var(--border-color-medium);
    transition: 0.4s;
}

.input-box input:focus {
    border-color: var(--border-color-dark);
}

.input-box input::placeholder {
    color: var(--primary-color);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--accent-color);
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: var(--primary-color);
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--primary-color);
}

.remember-forgot a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

.wrapper .boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .btn {
    width: 100%;
    position: relative;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.wrapper .btn-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    color: var(--secondary-color);
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.wrapper .btn-link:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: var(--primary-color);
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}